

 /* xxx NEW see xxx NEW below */

 input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

::-ms-tooltip {
 display: none;
}

/* xxx NEW */
.class_body_text {
  width: 900px;
  margin: 20px;
  font-size: 1em;
}

@media(max-width: 980px) {
  .class_body_text {
  font-size: 3em;
}
}
