sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#field_output_field {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 128px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
  font-size: 16px;
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 1px;
  top: 21px;
  width: 308px;
  height: 600px;
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,255,255);
  border-style: dotted;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#div_PLOTDIV_T_plot {
  display: block;
  position: absolute;
  left: 4px;
  top: 30px;
  width: 300px;
  height: 224px;
  visibility: visible;
  border-width: 1px;
  background-color: rgb(0,253,255);
  border-style: outset;
  opacity: 1;
  border-style: dotted;
  border-color: DodgerBlue;
  LCthreeD: true;
  LCshowBorder: true;
  LCvScrollbar: false;
}

#canvas_CANVAS_hot {
  position: absolute;
  left: 4px;
  top: 261px;
 /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,252,0);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#canvas_CANVAS_cold {
  position: absolute;
  left: 4px;
  top: 297px;
 /* canvas element width & height must be set in HTML and not in CSS */
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,252,0);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_runButton {
  position: absolute;
  left: 69px;
  top: 5px;
  width: 72px;
  height: 23px;
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,255,255);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_resetButton {
  position: absolute;
  left: 145px;
  top: 4px;
  width: 72px;
  height: 23px;
  visibility: visible;
  border-width: 1px;
  background-color: rgb(255,255,255);
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#div_input_fields_group {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 19px;
  top: 359px;
  width: 285px;
  height: 214px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#div_radio_button_group {
  display: block;
  position: absolute;
  left: 57px;
  top: 4px;
  width: 176px;
  height: 52px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#radio_counter-current_flow_LABEL {
  display: block;
  position: absolute;
  width: 168px;
  height: 23px;
  left: 4px;
  top: 4px;
}

#radio_counter-current_flow_SPAN {
  margin-left: 22px;
  line-height: 22px;
  font-size: 16px;
}

#radio_co-current_flow_LABEL {
  display: block;
  position: absolute;
  width: 168px;
  height: 23px;
  left: 4px;
  top: 25px;
}

#radio_co-current_flow_SPAN {
  margin-left: 22px;
  line-height: 22px;
  font-size: 16px;
}

#field_TinHot_label {
  position: absolute;
  left: 4px;
  top: 39px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_TinHot {
  position: absolute;
  left: 190px;
  top: 54px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_FlowHot_label {
  position: absolute;
  left: 4px;
  top: 92px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_FlowHot_input {
  position: absolute;
  left: 190px;
  top: 108px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_FlowCold_label {
  position: absolute;
  left: 4px;
  top: 119px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_FlowCold_input {
  position: absolute;
  left: 190px;
  top: 135px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_CpHot_label {
  position: absolute;
  left: 4px;
  top: 146px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_CpHot_input {
  position: absolute;
  left: 190px;
  top: 162px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_CpCold_label {
  position: absolute;
  left: 4px;
  top: 173px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_CpCold_input {
  position: absolute;
  left: 190px;
  top: 189px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_TinCold_label {
  position: absolute;
  left: 4px;
  top: 65px;
  width: 170px;
  height: 21px;
  border-width: 1px;
  visibility: visible;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
  font-size: 16px;
  border-color: DodgerBlue;
}

#input_field_TinCold {
  position: absolute;
  left: 190px;
  top: 81px;
  width: 91px;
  height: 21px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: true;
}

/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
