sup {
    font-size: smaller;
}

#div_simFrame {
  position:absolute;
  display: block;
  width: 900px;
  height: 700px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  LCvScrollbar: false;
}

#div_controller {
  position: absolute;
  display: block;
  top: 44px;
  left: 400px;
  width: 450px;
  height: 500px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  LCvScrollbar: false;
 }

#div_operatingParams {
  position: absolute;
  display: block;
  top: 44px;
  left: 20px;
  width: 300px;
  height: 180px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  LCvScrollbar: false;
 }

#div_reactionParams {
  position: absolute;
  display: block;
  top: 469px;
  left: 20px;
  width: 300px;
  height: 180px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  LCvScrollbar: false;
 }

#div_reactor {
  position: absolute;
  display: block;
  top: 233px;
  left: 20px;
  width: 300px;
  height: 230px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  LCvScrollbar: false;
 }

#div_PLOTDIV_reactorContents {
  position: absolute;
  display: block;
  top: 84px;
  left: 93px;
  width: 106px;
  height: 67px;
  background-color: rgb(222, 222, 222);
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
 }

#div_PLOTDIV_plotData {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 430px;
  height: 248px;
  background-color: rgb(255, 255, 255);
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: DodgerBlue;
  opacity: 1;
  LCvScrollbar: false;
}

#button_runButton {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 70px;
  height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

#button_resetButton {
  display: block;
  position: absolute;
  top: 10px;
  left: 100px;
  width: 70px;
  height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

#button_copyDataButton {
  display: block;
  position: absolute;
  top: 258px;
  left: 326px;
  width: 104px;
  height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

#field_enterdelHLABEL {
  position: absolute;
  top: 67px;
  left: 0;
  width: 200px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterdelH {
  display: block;
  position: absolute;
  top: 67px;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterEaLABEL {
  position: absolute;
  top: 34px;
  left: 0;
  width: 200px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterEa {
  display: block;
  position: absolute;
  top: 34px;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterFeedConcLABEL {
  position: absolute;
  top: 55px;
  left: 0;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterFeedConc {
  display: block;
  position: absolute;
  top: 55px;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterFeedFlowRateLABEL{
  position: absolute;
  top: 0;
  left: 0;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterFeedFlowRate {
  display: block;
  position: absolute;
  top: 0;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterFeedTTempLABEL {
  position: absolute;
  top: 27px;
  left: 0;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterFeedTTemp {
  display: block;
  position: absolute;
  top: 27px;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterGainLABEL {
  position: absolute;
  top: 306px;
  left: 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterGain {
  display: block;
  position: absolute;
  top: 306px;
  left: 217px;
  width: 72px;
  height: 22px;
}

#field_enterJacketFeedTTempLABEL {
  position: absolute;
  top: 420px;
  left: 20px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterJacketFeedTTemp {
  display: block;
  position: absolute;
  top: 388px;
  left: 175px;
  width: 72px;
  height: 22px;
}

#field_enterJacketFlowRateLABEL {
  position: absolute;
  top: 101px;
  left: 0px;
  width: 200px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterJacketFlowRate {
  display: block;
  position: absolute;
  top: 101px;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterJacketUALABEL {
  position: absolute;
  top: 129px;
  left: 0px;
  width: 200px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterjacketUA {
  display: block;
  position: absolute;
  top: 140px;
  left: 200px;
  width: 72px;
  height: 22px;
}

#field_enterResetTimeLABEL {
  position: absolute;
  top: 335px;
  left: 21px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterResetTime {
  display: block;
  position: absolute;
  top: 335px;
  left: 217px;
  width: 72px;
  height: 22px;
}

#field_enterSetpointLABEL {
  position: absolute;
  top: 278px;
  left: 21px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterSetpoint {
  display: block;
  position: absolute;
  top: 278px;
  left: 217px;
  width: 72px;
  height: 22px;
}

#field_enterk300LABEL {
  position: absolute;
  top: 0;
  left: 20px;
  width: 183px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

#input_field_enterk300 {
  display: block;
  position: absolute;
  top: 0;
  left: 200px;
  width: 72px;
  height: 22px;
}

#div_RADIO_group_Controller {
  display: block;
  position: absolute;
  left: 4px;
  top: 254px;
  width: 312px;
  height: 242px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  border-color: red;
  LCvScrollbar: false;
}

#radio_controllerAUTO_LABEL {
  display: block;
  position: absolute;
  width: 231px;
  height: 28px;
  left: 0px;
  top: 0px;
 }

#radio_controllerAUTO_SPAN {
  margin-left: 20px;
  line-height: 22px;
  font-size: 14px;
 }

#radio_controllerMANUAL_LABEL{
  display: block;
  position: absolute;
  width: 231px;
  height: 28px;
  left: 0px;
  top: 140px;
 }

#radio_controllerMANUAL_SPAN {
  margin-left: 20px;
  line-height: 22px;
  font-size: 14px;
 }

@media(max-width: 640px) {

  /* #div_controller {
    top: 802px;
    left: 97px;
  } */

}
