sup {
    font-size: smaller;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Helvetica;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.backbutton-1 {
  display: block;
  position: absolute;
  top: 14px;
  left: 120px;
  z-index: 1;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-decoration: underline;
  color: rgb(32, 25, 239);
}

.container_controller-1 {
  position: absolute;
  top: 273px;
  left: 427px;
  z-index: 20;
  width: 427px;
  height: 415px;
}

.container_operatingparams-1 {
  position: absolute;
  top: 273px;
  left: 120px;
  z-index: 31;
  width: 21.3489583333%;
  height: 151px;
}

.container_reactionparams-1 {
  position: absolute;
  top: 698px;
  left: 120px;
  z-index: 38;
  width: 22.3489583333%;
  height: 89px;
}

.container_reactor-1 {
  position: absolute;
  top: 462px;
  left: 120px;
  z-index: 41;
  width: 23.3333333333%;
  height: 202px;
}

.copydatabutton-1 {
  display: block;
  position: absolute;
  top: 258px;
  left: 326px;
  z-index: 19;
  width: 104px;
  height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.element_reactorcontents-1 {
  position: absolute;
  top: 84px;
  left: 93px;
  z-index: 40;
  width: 106px;
  height: 67px;
  background-color: rgb(222, 222, 222);
}

.enterdelh-1 {
  display: block;
  position: absolute;
  top: 67px;
  left: 184px;
  z-index: 36;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterea-1 {
  display: block;
  position: absolute;
  top: 34px;
  left: 184px;
  z-index: 34;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterfeedconc-1 {
  display: block;
  position: absolute;
  top: 55px;
  left: 184px;
  z-index: 25;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterfeedflowrate-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 184px;
  z-index: 21;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterfeedttemp-1 {
  display: block;
  position: absolute;
  top: 27px;
  left: 184px;
  z-index: 23;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.entergain-1 {
  display: block;
  position: absolute;
  top: 306px;
  left: 217px;
  z-index: 7;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterjacketfeedttemp-1 {
  display: block;
  position: absolute;
  top: 388px;
  left: 175px;
  z-index: 12;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterjacketflowrate-1 {
  display: block;
  position: absolute;
  top: 101px;
  left: 184px;
  z-index: 27;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterjacketua-1 {
  display: block;
  position: absolute;
  top: 129px;
  left: 184px;
  z-index: 29;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterk300-1 {
  display: block;
  position: absolute;
  top: 0;
  left: 184px;
  z-index: 32;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.enterresettime-1 {
  display: block;
  position: absolute;
  top: 335px;
  left: 217px;
  z-index: 9;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.entersetpoint-1 {
  display: block;
  position: absolute;
  top: 278px;
  left: 217px;
  z-index: 5;
  width: 72px;
  height: 22px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
  color: rgb(0, 0, 0);
}

.image_reactorimage-1 {
  display: block;
  position: relative;
  float: left;
  z-index: 39;
  width: 280px;
  height: auto;
  overflow: hidden;
}

.plotcanvas-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 430px;
  height: 248px;
  background-color: rgb(255, 255, 255);
}

.radio-label-1 {
  display: block;
  position: relative;
  float: left;
  z-index: 18;
  width: 200px;
  height: 24px;
  margin-top: 253px;
}

.radio-label-2 {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 200px;
  height: 24px;
  margin-top: 87px;
}

.radio_controllerauto-1,
.radio_controllermanual-1 {
  display: block;
  float: left;
  margin-top: 3px;
}

.radio_autolabel-1,
.radio_manuallabel-1 {
  display: block;
  float: left;
  margin-left: 6px;
  line-height: 1.38;
}

.reset-1 {
  display: block;
  position: absolute;
  top: 239px;
  left: 201px;
  z-index: 3;
  width: 70px;
  height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.run-1 {
  display: block;
  position: absolute;
  top: 239px;
  left: 120px;
  z-index: 2;
  width: 70px;
  height: 24px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.copydatabutton-1:hover,
.reset-1:hover,
.run-1:hover {
  background-color: rgb(232, 228, 250);
}

/* active only works when located below hover !! ?? */
.copydatabutton-1:active,
.reset-1:active,
.run-1:active {
  background-color: rgb(177, 150, 254);
}

.text_enterdelhlabel-1 {
  position: absolute;
  top: 67px;
  left: 0;
  width: 200px;
  z-index: 37;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterealabel-1 {
  position: absolute;
  top: 34px;
  left: 0;
  width: 200px;
  z-index: 35;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterfeedconclabel-1 {
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 26;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterfeedflowrate-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterfeedttemplabel-1 {
  position: absolute;
  top: 27px;
  left: 0;
  z-index: 24;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_entergainlabel-1 {
  position: absolute;
  top: 306px;
  left: 21px;
  z-index: 8;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterjacketfeedttemplabel-1 {
  position: absolute;
  top: 387px;
  left: 20px;
  z-index: 11;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterjacketflowratelabel-1 {
  position: absolute;
  top: 101px;
  left: 0;
  z-index: 28;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterjacketua-1 {
  position: absolute;
  top: 129px;
  left: 0;
  z-index: 30;
  width: 181px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterk300label-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 33;
  width: 183px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterresettimelabel-1 {
  position: absolute;
  top: 335px;
  left: 21px;
  z-index: 10;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_entersetpointlabel-1 {
  position: absolute;
  top: 278px;
  left: 21px;
  z-index: 6;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_toppagetext-1 {
  position: absolute;
  top: 46px;
  left: 120px;
  width: 797px;
  height: 137px;
  min-height: 74px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text_enterdelhlabel em,
.text_enterealabel em,
.text_entergainlabel em,
.text_enterjacketfeedttemplabel em,
.text_enterk300label em,
.text_enterresettimelabel em,
.text_entersetpointlabel em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 700;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text_toppagetext a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #000000;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text_enterfeedconclabel em,
.text_enterfeedflowrate em,
.text_enterfeedttemplabel em,
.text_enterjacketflowratelabel em,
.text_enterjacketua em,
.text_toppagetext span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 640px) {
  .container_controller-1 {
    top: 802px;
    left: 97px;
  }

  .image_reactorimage-1 {
    position: relative;
    z-index: 39;
    height: auto;
  }

  .radio-label-1 {
    position: relative;
    z-index: 18;
  }

  .radio-label-2 {
    position: relative;
    z-index: 15;
  }

  .text_toppagetext-1 {
    width: 456px;
    height: 177px;
  }
}
